
.avatar{
	width: 60px;
}
.nicepic {
	height: 300px;
}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}
.nav-link: hover{
  background: #dcdde1 !important;
  color: #262626 !important;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
}
  

.bg-image{
	background: url('https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.jpg'); 
    height: 100vh;
    width: 100vw;
    background-size: cover;
    opacity: 75%;

}
.navbar{
background:transparent !important;
}


.nav-link{
	color: #da680f !important;
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 700;
}
.navbar-brand{
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #cccc !important;

}
.main{
	position: relative;
	background: url('https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.jpg'); 
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding 280px 0 22px;
	

}

.newClass{
    margin:0px!important;
}

.zoom {
  padding: 50px;
  background: url("https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  transition: transform .2s;
  margin: 0 auto;
  border: solid;
  height: 200px;
}



.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

  
}
.noom{
	padding: 50px;
	background: url("https://images.unsplash.com/photo-1617824254005-facacd2c7623?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zmxvd2VyJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80") ; 
	transition: transform .2s;
  	margin: 0 auto;
  	border: solid;
  	height: 200px;
}

.noom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

}

.koom{
	padding: 50px;
	background: url("https://www.wallmur.com/media/catalog/pdata/cache/1/crop_image/1000x/65b82f/o/f/dutch-dark-flowers-wallpaper-mural-wm-ofd000059-41482670.jpg") ; 
	transition: transform .2s;
  	margin: 0 auto;
  	border: solid;
  	height: 200px;
}

.koom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}