
.avatar{
	width: 60px;
}
.nicepic {
	height: 300px;
	width: 400px;
}

#header{
	position: absolute;
	z-index: 10;
	width: 100%;

}
@media(min-width:768px) and (max-width: 991.98px) {
	.nicepic {
		width: 340px ;
	}
}
.nav-link: hover{
  background: #dcdde1 !important;
  color: #262626 !important;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
}
  
.navbar{
background:transparent !important;
}


.nav-link{
	color: #da680f !important;
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 700;
}
.navbar-brand{
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #cccc !important;

}
.main{
	position: relative;
	background: url('https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.jpg'); 
	min-height: 100vh;
	min-width: 100vw;
	background-size: cover;
	background-position: center;
	padding: 220px 0 22px;	

}

.newClass{
    margin: 0px !important;
}

.zoom {
  padding: 50px;
  background: url("https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  transition: transform .2s;
  margin: 0 auto;
  border: solid;
  height: 200px;
}



.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

  
}


.zoom:hover {
  padding-right: 25px;
}

.zoom:hover :after {
  opacity: 1;
  right: 0;
}
.noom{
	padding: 50px;
	background: url("https://images.unsplash.com/photo-1617824254005-facacd2c7623?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zmxvd2VyJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80") ; 
	transition: transform .2s;
  	margin: 0 auto;
  	border: solid;
  	height: 200px;
}

.noom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

}

.koom{
	padding: 50px;
	background: url("https://www.wallmur.com/media/catalog/pdata/cache/1/crop_image/1000x/65b82f/o/f/dutch-dark-flowers-wallpaper-mural-wm-ofd000059-41482670.jpg") ; 
	transition: transform .2s;
  	margin: 0 auto;
  	border: solid;
  	height: 200px;
}

.koom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.areas:hover > div {
    opacity: 0.5;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.areas:hover > div:hover,
.areas:hover > div:hover * {
    opacity: 1;
    

    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.ex2:hover, 
.ex2:active {
	font-size: 150%;
	color: antiquewhite;
}


/* unvisited link */
a:link {
  color: white  ;
}

/* visited link */
a:visited {
  color: green ;
}

/* mouse over link */
a:hover {
  color: white !important;
}

/* selected link */
a:active {
  color: yellow !important;
}